.spacer {
    width: 90%;
    margin: 0 auto;
    border: 1px;
    background-color: white;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 24%) 10%;
}

.row:nth-child(1) {
    grid-row: 1/2;
    font-weight: bold;
}

.row:nth-child(2) {
    grid-row: 2/3;
}

.row:nth-child(3) {
    grid-row: 3/4;
}

.row:nth-child(4) {
    grid-row: 4/5;
}

.row:nth-child(5) {
    grid-row: 5/6;
}