.cart_summary{
    width: 350px;
    float: right;
    margin-top: 10px;
}

.cart .cell:first-child {
    padding-left: 20px;
}

.cart .cell {
    flex-basis: 150px;

}

.cell--grow {
    flex-grow: 1;
}

.cart .cell img {
    max-width: 140px;

}


.cart .row {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.cart .row:first-child {
    border-bottom: 1px solid rgba(51, 51, 51, 0.37);
    padding-left: 20px;
}

.cart .row:last-child {
    border-bottom: 0;

}

.cart_summary table {
    width: 100%;
}

.cart_summary table tr td:last-child{
    text-align: right;
}

.cart_summary table td {
    padding: 5px 0;
}



.submit-button svg {
    padding-left: 15px;
}